rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permitir leitura e gravação em tempo real para sincronização colaborativa entre usuários
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
